*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}
:root{
	--bg-color: white;
	--second-bg-color: #c5c5c5;
	--text-color: rgb(0, 0, 0);
	--second-color: rgb(18, 18, 18);
	--main-color: #f37a4a;
	--big-font: 5rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}
body{
	background: var(--bg-color);
	color: var(--text-color);
}
header{
	position: fixed;
	width: 100%;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 22px 15%;
	border-bottom: 1px solid transparent;
	opacity: 0; /* initialement invisible */
	top: -100px; /* décalé vers le haut de la page */
	left: 0; /* aligné à gauche de la page */
	transition: all 0.6s ease-in-out;
	transition: opacity 1.2s ease-in-out;
}
.logo{
	color: var(--text-color);
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 1px;
}
span{
	color: var(--main-color);
}

object{
	display: block;
	position: relative;
	width:100%;
	height:50rem;
}
.white {
	color: white;
}
.navlist{
	display: flex;
}
.navlist a{
	color: var(--second-color);
	font-size: 17px;
	font-weight: 500;
	margin: 0 25px;
	transition: all .45s ease;
}
.navlist a:hover{
	color: var(--main-color);
}
.navlist a.active{
	color: var(--main-color);
}
#menu-icon{
	font-size: 35px;
	color: var(--text-color);
	z-index: 10001;
	cursor: pointer;
	margin-left: 25px;
	display: none;
}

section{
	padding: 160px 15% 120px;
}
.accueil{
	position: relative;
	height: 100vh;
	width: 100%;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: flex-start;
    margin-top: 3rem;
}
.slide{
	margin-bottom: 20px;
}
.one{
	display: inline-block;
	margin-right: 15px;
	height: 32px;
	padding: 0 15px;
	line-height: 32px;
	font-size: 20px;
	font-weight: 500;
	border-radius: 5px;
	background: var(--main-color);
	color: white;
}
.two{
	display: inline-block;
	color: var(--second-color);
	font-size: 20px;
	font-weight: 500;
}
.presentation h1{
	font-size: var(--big-font);
	font-weight: 700;
	color: var(--text-color);
	line-height: 1.1;
	margin: 0 0 8px;
}
.presentation h3{
	color: var(--text-color);
	margin: 0 0 35px;
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.1;
    width: 100%;
    padding-right: 0;
}
.presentation p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 1.8;
	margin-bottom: 40px;
}
.button{
	display: inline-flex;
	align-items: center;
	justify-content: center;
    margin-bottom: 0;
    margin-top: 1rem;
}
.btn{
	display: inline-block;
	padding: 12px 28px;
	background: var(--main-color);
	border-radius: 5px;
	color: white;
	font-size: 1rem;
	letter-spacing: 1px;
	font-weight: 600;
	transition: all .45s ease;
    cursor: pointer;
    margin-left: 30px;
}
.btn:hover{
	transform: scale(1.1);
}
.btn2{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	font-weight: 600;
	color: black;
	margin-left: 15px;
    margin-right: 1.1rem;
}


.btn2 span i{
	height: 55px;
	width: 55px;
	background: var(--main-color);
	color: var(--text-color);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	border-radius: 50%;
	margin-right: 15px;
	transition: all .45s ease;
}
.btn2 span i:hover{
	transform: scale(1.1) translateY(5px);
}

header.sticky{
	background: var(--bg-color);
	border-bottom: 1px solid #ffffff1a;
	padding: 12px 15%;
}

.analyse{
	background: var(--bg-color);
}
.date-text{
	text-align: center;
}
.date-text p{
	color: var(--second-color);
	font-size: 15px;
	margin-bottom: 15px;
}
.date-text h2{
	font-size: var(--h2-font);
	line-height: 1;
}
.analyse-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	align-items: center;
	gap: 2.5rem;
	margin-top: 5rem;
}
.box{
  color: white;
	background: var(--main-color);
	padding: 35px 45px;
	border-radius: 8px;
	transition: all .45s ease;
}
.s-icons i{
	font-size: 32px;
	margin-bottom: 20px;
}
.box h3{
 
	font-size: 24px;
	font-weight: 600;
  color: white;
	margin-bottom: 15px;
}
.box p{
  color: rgba(255, 255, 255, 0.901);
	font-size: 1rem;
	line-height: 1.8;
	margin-bottom: 25px;
}
.open-modal{
	display: inline-block;
	padding: 10px 18px;
	background: white;
	color: black;
	font-size: 14px;
	font-weight: 500;
	border-radius: 8px;
    border: 2px solid black;
    transition: all 0.5s ease;
}

.open-modal:hover{
    transform: scale(1.1);
	background: rgba(128, 128, 128, 0.482);
	color: var(--text-color);
    cursor: pointer;
}

.box:hover{
	transform: translateY(-8px);
	cursor: pointer;
}


.footer{
	padding: 20px 15%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
    flex-direction: row;
	justify-content: space-between;
	gap: 2rem;
	background: var(--bg-color);
}
.last-text p{
	color: var(--second-color);
	font-size: 14px;
}

.top{
	transition: 0.2s;
}

.top i{
	padding: 10px;
	border-radius: 8px;
	font-size: 15px;
	color: var(--text-color);
	background: var(--main-color);
}

.top:hover{
	transform: scale(1.1);
}
#showPlot{
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

#showPlot img{
  width: 100%;
  height: 100%;
}



label{
    font-size: 1.1rem;
    font-weight: bolder;
}

#modal0 {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    display: none;
  }

#modal0 h2{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}
#modal1 {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    display: none;
  }

  #modal2 {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    display: none;
  }
  
  .modal-content {
    position: relative;
    background-color: var(--bg-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    width: 80%;
  }
  
  #close-button,#close-button2,#close-button3 {
    color: white;
    float: right;
    background-color: var(--main-color);
    font-size: 17px;
    font-weight: bold;
    width: 6rem;
    height: 2rem;
  }
  
  #close-button:hover,
  #close-button:focus,#close-button2:hover,
  #close-button2:focus,#close-button3:hover,
  #close-button3:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  #close-button3 {
	position: relative;
	top:1.1rem;
  }
#download{
    background-color:white;
}

.download-container .open-modal:hover{
	background: var(--main-color);
	color: rgb(255, 255, 255);
    cursor: pointer;
    letter-spacing: normal;
    border: 2px  solid #000000;
}

.download-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    margin-bottom: 3rem;
}

.download-container a{
    position: relative;
    height: 3rem;
    font-size: large;
    text-align: center;
}

.useful{
    position: relative;
    margin-left: 50%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    bottom: 11rem;
}

.useful li{
    width: 80%;
    height: 50%;
    margin-right: 2rem;
}

.useful li img{
  width: 100%;
  height: 100%;
}

#descriptif{
    margin: 0;
    color: white;
}

.vitry{
  position: relative;
  top:20px;
}

.justifycenter{
	position: relative;
	text-align: center;
}

.warning{
	font-size: large;
	color: var(--main-color);
	font-weight: bolder;
}

/* Animation de glissement vers la droite */
@keyframes slideRight {
	from { transform: translateX(-100%); }
	to { transform: translateX(0%); }
  }

@keyframes slideUp {
	from { transform: translateY(100%); }
	to { transform: translateY(0%); }
  }
  
  
  /* Sélecteur de la zone de texte */
  .slideRight {
	animation: slideRight 1s ease-in-out;
	animation-delay: 0.1s; /* délai avant le début de l'animation */
	animation-fill-mode: forwards; /* pour conserver l'état final de l'animation */
  }

  .slideUp {
	animation: slideUp 1s ease-in-out;
	animation-delay: 0.1s; /* délai avant le début de l'animation */
	animation-fill-mode: forwards; /* pour conserver l'état final de l'animation */
  }

  /* CSS pour rendre l'opacité de 0 à 1 à l'ouverture de la page */
  header.show {
	opacity: 1; /* visible */
	top: 0; /* position initiale */
  }


  
  
  

@media (max-width: 1480px){
	header{
		padding: 12px 2.5%;
		transition: .1s;
	}
	header.sticky{
		padding: 10px 2.5%;
		transition: .1s;;
	}
	section{
		padding: 110px 3% 60px;
	}
	.footer{
		padding: 15px 3%;
	}
}

@media (max-width: 1100px){
	:root{
		--big-font: 4rem;
	  --h2-font: 2.5rem;
	  --p-font: 1rem;
	  transition: .1s;
	}
	.presentation h3{
		font-size: 2.5rem;
	}
	.accueil{
		height: 87vh;
	}
	#accueil{margin-top: 6rem;
		margin-bottom: 6rem;
		}

}

@media (max-width: 920px){
#accueil{margin-top: 8rem;}
.download-container a{
    position: relative;
    height: 3rem;
    font-size: 13px;
    text-align: center;
	margin-top: 10px;
}

}

@media (max-width: 840px){
	#menu-icon{
		display: block;
	}
	.useful{
		display: none;
	}
	.navlist{
		position: absolute;
		top: -1000px;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background: var(--bg-color);
		text-align: left;
		transition: all .45s ease;
	}
	.navlist a{
		display: block;
		margin: 17px;
		font-size: 20px;
		transition: all .45s ease;
		color: var(--text-color);
	}
	.navlist a:hover{
		color: var(--main-color);
	}
	.navlist a.active{
		color: var(--text-color);
	}
	.navlist.open{
		top: 100%;
	}
	.download-container a{
		position: relative;
		height: 3rem;
		font-size: 12px;
		text-align: left;
		bottom: 5px;
	}
}
@media (max-width: 700px){
	#accueil{margin-top: 10rem;
	margin-bottom: 6rem;
	}
	.download-container a{
		position: relative;
		height: 3rem;
		font-size: 11px;
		text-align: left;
		bottom: 10px;
	}
	}